* {
  padding: 0;
  margin: 0;
}

h1 {
  color: blue;
  font-size: 36px;
  font-family: "sans-serif";
  /* you can specify multiple fonts here, as one font may not available in everyones browser or computer, these other fonts are kind of backups */

  text-transform: uppercase;
  /* this transforms the text into uppercase or lowercase or other properties */
  font-style: italic;
  /* font-style italic, bold adn all */
}

h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: relative;
}

/* pseudo elements  */
/* after/before */
h2::after {
  content: "TOP";
  background-color: rgb(230, 230, 12);
  color: black;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -24px;
  padding: 7px;
  font-size: 14px;
}

/*  adjacent + first line pseudo element selector  */
h3 + p::first-line {
  color: red;
}

nav a:link {
  display: inline-block;
  margin-right: 20px;
}

nav a:last-child:link {
  margin: 0;
}

nav a:link:hover {
  text-decoration: none;
}

/*  */
p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 30px;
  /* increases line height between multiple lines */
  /* 1.5 means it will be 1.5 times of the original font size */
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: rgb(204, 203, 203);
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-family: sans-serif;
  font-size: 20px;
}

ul,
li {
  margin-left: 50px;
}

/* List Selector  */
h1,
h2,
h3,
h4,
li {
  font-family: sans-serif;
  color: rgb(6, 203, 253);
}

/*  descendant selector  */
/* footer p {
  color: red;
  text-align: center;
} */

/* Classes and Ids  */
/* ids  */
#copyright {
  color: red;
  text-align: center;
}

.related-author {
  font-size: 16px;
  font-weight: bolder;
}

.related {
  list-style: none;
}

.main-header {
  background-color: white;
  margin-bottom: 30px;
  /*  vertical spacing  */
  padding: 10px;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

aside {
  background-color: white;
  /* border: 4px solid blue;
   */
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  /* border-left: 5px solid blue; */
  /* border-right: 5px solid blue; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  /* margin-top: 40px; */
  /* enable to see concept of collapsing margin */

  width: auto;
}

article {
  margin-bottom: 60px;
}

body {
  /* background-color: rgb(41, 133, 150); */
}

/* psueod clases */

/*  without psudo class */
/* .first-li {
  font-weight: bold;
} */

list:first-child {
  font-weight: bold;
}

li:last-child {
  font-weight: bold;
}

li:nth-child(even) {
  color: black;
}

/* Misconception this wont work */
article p:first-child {
  color: Red;
}

/* Styling HyperLinks  */

a:link {
  color: rgb(11, 200, 230);
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LHVA for anchor pseudo classes  */

.post-img {
  width: 50%;
  height: auto;
}
.second-header {
  position: relative;
  /* setting this block level element position as relative, so absoulte element takses reference of this block element and position himself accordingly */
}
.like-button {
  position: absolute;
  /* absoulute positioning */
  bottom: 10px;
  left: 230px;
  right: 5px;
  width: 100px;
}

h1::first-letter {
  font-style: normal;
  margin: 5px;
}
