/* ---------- Navigation ------- */

.main-nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  gap: 3.2rem;
}

.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #e67e22;
}

/* --------------=-------------------- */

/* -----------Hero Section-------------*/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.heading-primary,
.heading-secondary {
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1;
  color: #333;
  /* Two other design choices  */
  /* color: #45260a;
  /* has bit of blue in grey below */
  /* color: #343a40; */
  margin-bottom: 9.6rem;
}

.heading-teritiary {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.subheading {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  font-weight: 500;
}

.hero-img {
  width: 100%;
}

/* Generic Helper class, "margin-right-sm" used in btn to add margin right as if I added this proeprty directly to button if I want to reuse that button css propety that could affect design of the button if used somewhere else */

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  /* centered the meals container, and applied gap to have a gap between two elements which are images and text div element */
  align-items: center;
  gap: 1.6rem;
}

.deliverd-imgs {
  display: flex;
}

.deliverd-imgs img {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  /* applied negative margin for image to overlay on each other effect which is very common with groupo of images of customer round images */
  margin-right: -1.6rem;
  /* applying border to images is useful for fine detailing */
  border: 3px solid #fdf2e9;
}
/* setting margin :0 for last child as we dont want to apply margin for last element to the right as it affects our layout */
.deliverd-imgs img:last-child {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  margin: 0;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.8rem;
}

.delivered-text span {
  /* using higher font-weight to stand out our figure 250,000 text in terms of visual heirarchy */
  font-weight: 700;
  font-size: 1.8rem;
  color: #cf711f;
  /* checking color contrasta between text color and background on coolrs website */
}

/* --------------------------------------------------- */

/* ----------How it works section ?-----------------  */

.section-how {
  padding: 9.6px 0;
}

.step-img {
  width: 35%;
  height: auto;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8rem;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: 10; */
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------------------------------------- */
.step-img-box::before {
  background-color: #fdf2e9;
  z-index: -2;
  /* 60% of parent width */
  width: 60%;
  padding-bottom: 60%;
  /* height: 60%; */
}
.step-img-box::after {
  background-color: #fae5d3;
  z-index: -1;
  width: 45%;
  padding-bottom: 45%;
}
